/* =====================================================
DEFINITION DES PARAMETRES CONTENUS DANS LA VARIABLE ROOT
======================================================== */

:root {
    --color-bg-header: #fa4925;
    --color-bg-footer: #fa4925;
    --color-bg-main: #fa4925;
    --color-bg-submenu: #fa4925;
    --color-bg-sectionimp: #fdccc3dc;
    --color-bg-sectionpair: white;
    --color-text-titre: white;
    --color-link: rgb(58, 15, 15);
    --color-link-hover: rgb(10, 255, 10);
    --color-border: rgb(58, 15, 15);


    --fontsize-link: 1rem;
}



/* =================================
RESET DES PARAMETRES HTML NAVIGATEUR
==================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'exo 2';
}



/* ===================================================================
HEADER
création de la bannière titre H1 + menu de NAV avec un sous-menu caché
==================================================================== */
.header {
    background-color: var(--color-bg-header);
    color: var(--color-text-titre);
    position: fixed;
    width: 100%;
    height: 60px;
    text-align: center;
}

.header__nav {
    border: solid rgb(58, 15, 15) 1px;
    position: fixed;
    top: 60px;
    height: 28px;
    width: 100%;
    background-color: var(--color-bg-header);
    text-align: center;
}

.header__li {
    display: inline-block;
}

.header__a,
.submenu__a {
    color: var(--color-link);
    font-size: var(--fontsize-link);
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
    position: relative;
}

/* .header__submenu {
    position: absolute;
    display: none;
}

.header__li:hover .header__submenu {
    display: block;
    background-color: var(--color-bg-submenu);
    border-color: 3px var(--color-border) solid;
    border-bottom-left-radius: 20px;
} */

.header__submenu {
    position: absolute;
    background-color: var(--color-bg-submenu);
    border-bottom-left-radius: 20px;

    opacity: 0;           
    transition: max-height 1.1s ease, opacity 0.6s ease;
}

.header__li:hover .header__submenu {
    opacity: 1;           
}

.header__a:hover,
.submenu__a:hover {
    color: var(--color-link-hover);
    /* font-weight: 800; */
}

.submenu__li {
    list-style: none;
}


/* ===============================================
main
setup des paramètres par défaut
margin + bouton sticky
=================================================== */
main {
    padding: 87px;
    position: static;
    background-color: var(--color-bg-main);
}

.main__backtop_button {
    border: 1px solid black;
    position: sticky;
    width: 80px;
    height: 29px;
    top: 92px;
    left: 1753px;
    margin: 10px 0px;
    border-top-left-radius: 10px;
}

/* ==========
section film
setup
============ */
.section__film {
    border: 1px black solid;
    height: 800px;
    width: 100%;
    background-color: var(--color-bg-sectionimp);
    position: static;
}

.section__titreh2 {
    text-align: center;
    margin-top: 10px;
}

.section__div {
    width: 100%;
    height: 250px;
    padding: 35px;
}

.section__img {
    display: inline-block;
    width: 140px;
    height: 200px;
    vertical-align: top;
}



.section__divdiv__titre {
    display: inline-block;
    margin-left: 15px;
}

.section__titre {
    display: block;
    margin: 0 0 5px 0;
}


/* =====================
section les réalisateurs
setup
======================== */
.section__real {
    border: 1px black solid;
    border-top: none;
    height: 800px;
    width: 100%;
    background-color: var(--color-bg-sectionpair);
    position: static;
}

/* ============
section acteurs
setup
============== */
.section__acteurs {
    border: 1px black solid;
    border-top: none;
    height: 1040px;
    width: 100%;
    background-color: var(--color-bg-sectionimp);
    position: static;
}

/* ===========
section footer
setup
============== */
.section__footer {
    background-color: var(--color-bg-footer);
    color: var(--color-text-titre);
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 10px;
}