/* =====================================================
DEFINITION DES PARAMETRES CONTENUS DANS LA VARIABLE ROOT
======================================================== */

:root {
    --color-bg-header: #fa4925;
    --color-bg-footer: #fa4925;
    --color-text-titre: white;
    --color-link: rgb(58, 15, 15);
    --color-link-hover: rgb(10, 255, 10);
    --color-border: rgb(58, 15, 15);
    --color-bg-submenu: #fa4925;
    --fontsize-link: 1rem;
}



/* =================================
RESET DES PARAMETRES HTML NAVIGATEUR
==================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================================================================
BODY
définition de la font-family et alignement de tous les éléments enfants du body
=============================================================================== */
body {
    font-family: 'exo 2';
    text-align: center;
}

/* ===================================================================
HEADER
création de la bannière titre H1 + menu de NAV avec un sous-menu caché
==================================================================== */
.header {
    background-color: var(--color-bg-header);
    color: var(--color-text-titre);
    position: fixed;
    width: 100%;
}

.header__titre {
    height: 60px;
}

.header__nav {
    border: solid rgb(58, 15, 15) 1px;
}

.header__li {
    display: inline-block;
}
.header__a, .submenu__actor {
    color: var(--color-link);
    font-size: var(--fontsize-link);
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
    position: relative;
}

.header__a:hover, .submenu__actor:hover {
    color: var(--color-link-hover);
    /* font-weight: 800; */
}

.head__submenu {
    position: absolute;
    display: none;
}

.header__li:hover .head__submenu {
    display: block;
    background-color: var(--color-bg-submenu);
    border-color: 3px var(--color-border) solid;
    border-bottom-left-radius: 20px;
}


/* ===============================================
main
setup des paramètres par défaut
margin
=================================================== */







.re {
    border: 5px black solid;
    height: 250px;
    width: 100%;
}